<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<title>博客发布</title>
		<link href="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
		<link href="../static/css/bootstrap/bootstrap.min.css" rel="stylesheet"/>
		<link href="../static/css/bootstrap-fileinput/fileinput.min.css" rel="stylesheet"/>
		<link href="../static/lib/editormd/css/editormd.min.css" rel="stylesheet"/>
		<link href="../static/css/index.css" rel="stylesheet" />
	</head>

	<body>
		<div class="head"></div>
		<div class="ui attached pointing menu">
			<div class="ui container">
				<div class="right menu">
					<a href="blogs-input.html?type=add" class=" teal active item">发布</a>
					<a href="blogs.html" class=" item">列表</a>
				</div>
			</div>
		</div>
		<!--
        	作者：offline
        	时间：2019-09-19
        	描述：内容
        -->
		<div class="i-padded-tb-big i-container-small">
			<div class="ui container">
				<form id="blog-form" action="#"  class="ui form">
					<input type="hidden" name="published" id="published">
					<div class="required field">
						<div class="ui left labeled input">
							<div class="ui selection compact teal basic dropdown label">
								<input type="hidden" value="原创" name="flag" id="flag">
								<i class="dropdown icon"></i>
								<div class="text">原创</div>
								<div class="menu">
									<div class="item" data-value="原创">原创</div>
									<div class="item" data-value="转载">转载</div>
									<div class="item" data-value="翻译">翻译</div>
								</div>
							</div>
							<input type="text" name="title" placeholder="标题" id="title">
						</div>
					</div>

					<div class="required field">
						<div id="md-content" style="z-index: 1 !important;">
							<textarea placeholder="博客内容" name="content" style="display: none" id="content"></textarea>
						</div>
					</div>

					<div class="two fields">
						<div class="required field">
							<div class="ui left labeled action input">
								<label class="ui compact teal basic label">分类</label>
								<select id="type" class="ui select"></select>
<!--								<div class="ui fluid selection dropdown">
									<input type="hidden" name="type.id">
									<i class="dropdown icon"></i>
									<div class="default text">分类</div>
									<div class="menu">
										<div th:each="type : ${types}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.name}">错误日志</div>
									</div>
								</div>-->
							</div>
						</div>
						<div class=" field">
							<div class="ui left labeled action input">
								<label class="ui compact teal basic label">标签</label>
								<select class="ui select" id="tag"></select>
								<!--<div class="ui fluid selection multiple search  dropdown">
									<input type="hidden" name="tagIds" th:value="*{tagIds}">
									<i class="dropdown icon"></i>
									<div class="default text">标签</div>
									<div class="menu">
										<div th:each="tag : ${tags}" class="item" data-value="1" th:data-value="${tag.id}" th:text="${tag.name}">java</div>
									</div>
								</div>-->
							</div>
						</div>
					</div>

					<div class="required field">
						<div class="ui left labeled input">
							<label class="ui teal basic label">首图</label>
							<input type="text" name="firstPicture" placeholder="首图引用地址" id="firstPicture">
						</div>
					</div>
					
					<div class="required field">
						<div class="ui left labeled input">
							<label class="ui teal basic label">上传</label>
						</div>
					</div>
					<div>
						<input type="file" id="picture" name="file" />
					</div>

					<div class="required field" style="margin-top: 5px;">
						<textarea name="description"  placeholder="博客描述..." maxlength="200" id="description"></textarea>
					</div>

					<div class="inline fields">
						<div class="field">
							<div class="ui checkbox">
								<input type="checkbox" id="recommend" name="recommend" checked  class="hidden">
								<label for="recommend">推荐</label>
							</div>
						</div>
						<div class="field">
							<div class="ui checkbox">
								<input type="checkbox" id="shareStatement" name="shareStatement"  class="hidden">
								<label for="shareStatement">转载声明</label>
							</div>
						</div>
						<div class="field">
							<div class="ui checkbox">
								<input type="checkbox" id="appreciation" name="appreciation" class="hidden">
								<label for="appreciation">赞赏</label>
							</div>
						</div>
						<div class="field">
							<div class="ui checkbox">
								<input type="checkbox" id="commentabled" name="commentabled" class="hidden">
								<label for="commentabled">评论</label>
							</div>
						</div>
					</div>

					<div class="ui error message"></div>

					<div class="ui right aligned container">
						<button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
						<button type="button" id="save-btn" class="ui secondary button">保存</button>
						<button type="button" id="publish-btn" class="ui teal button">发布</button>
					</div>

				</form>
			</div>
		</div>

		<!--
        	作者：offline
        	时间：2019-09-19
        	描述：footer
        -->
		<footer class="ui inverted vertical segment i-padded-tb-massive">
			<div class="ui center aligned container">
				<div class="ui inverted divided stackable grid">
					<div class="three wide column">
						<div class="ui inverted link list">
							<div class="item">
								<img src="../static/img/wechat.jpg" class="ui rounded image" style="width: 110px;" />
							</div>
						</div>
					</div>
					<div class="three wide column">
						<h4 class="ui inverted header i-text-thin i-text-spaced">最新博客</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">用户故事(User Story)</a>
							<a href="#" class="item">用户故事(User Story)</a>
							<a href="#" class="item">用户故事(User Story)</a>
						</div>
					</div>
					<div class="three wide column">
						<h4 class="ui inverted header i-text-thin i-text-spaced">联系我</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">Email：lirenmi@163.com</a>
							<a href="#" class="item">QQ：865729312</a>
						</div>
					</div>
					<div class="seven wide column">
						<h4 class="ui inverted header i-text-thin i-text-spaced">Blog</h4>
						<p class="i-text-thin i-text-spaced i-opacity-mini">这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
					</div>
				</div>
				<div class="ui inverted section divider"></div>
				<p class="i-text-thin i-text-spaced i-opacity-tiny">Copyright @ 2016-2017 Designed</p>
			</div>
		</footer>

	</body>
	<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.js"></script>
	<script src="../static/js/bootstrap/bootstrap.min.js"></script>
	<script src="../static/js/bootstrap-fileinput/fileinput.min.js"></script>
	<script src="../static/js/bootstrap-fileinput/zh.js"></script>
	<script src="../static/js/function.js"></script>
	<script src="../static/lib/editormd/editormd.min.js"></script>
	<script>
		$('.menu.toggle').click(function() {
			$('.i-item').toggleClass('i-mobile-hide');
		});

		$('.ui.dropdown').dropdown({
			on: 'hover'
		});
		
		var contentEditor;
		var count = 0;
		var map = {};
		var pageType = "";
		$(function(){
			pageType = getQueryVariable("type");
			$('#head').load('../common/head-admin.html');
			contentEditor = editormd("md-content",{
				width : "100%",
				height : 640,
				syncScrolling : "single",
				path : "../static/lib/editormd/lib/",
				saveHTMLToTextarea: true,
				flowChart: true, // 开启流程图支持，默认关闭
				/* 上传图片配置 */
				imageUpload: true,
				imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
				imageUploadURL: urlPath + "/upload/api/uploadImage", //注意你后端的上传图片服务地址
				onload: function() {}
			});
			fileInit('picture',urlPath + '/upload/api/upload');
			
		});
		
		function formData(){
			map.flag = $('#flag').val();
			map.title = $('#title').val();
			map.content = contentEditor.getMarkdown();
			map.contentHtml = contentEditor.getHTML();
			map.type = $('#type').val();
			map.tag = $('#tag').val();
			map.firstPicture = $('#firstPicture').val();
			map.description = $('#description').val();
			map.recommend = $('input[name="recommend"]').attr('checked');
			map.shareStatement = $('input[name="shareStatement"]').attr('checked');
			map.appreciation = $('input[name="appreciation"]').attr('checked');
			map.commentabled = $('input[name="commentabled"]').attr('checked');
			map.picture_Name = $('#picture').attr('fileName') == undefined ? '' : $('#picture').attr('fileName');
			map.picture_Path = $('#picture').attr('filePath') == undefined ? '' : $('#picture').attr('filePath');
			map.picture_Addr= $('#picture').attr('fileAddr') == undefined ? '' : $('#picture').attr('fileAddr');
			map.pageType = pageType;
			$.ajax({
				url:urlPath + "/blog/api/saveOrUpdateBlog",
				data:map,
				type:"post",
				success:function(res){
					
				}
			})
		}
		
		
		function fileInit(ctrlName, uploadUrl) {
			var control = $('#' + ctrlName);
			control.fileinput({
				language: 'zh',
				uploadUrl: uploadUrl,
				enctype: 'multipart/form-data',
				showUpload: false, //是否显示上传按钮
				showPreview: true, //展前预览
				showRemove: true,
				showCaption: false, //是否显示标题
				maxFileSize: 51200, //上传文件最大的尺寸kb 50m
				dropZoneEnabled: true, //是否显示拖拽区域
				browseClass: "btn btn-primary", //按钮样式
				uploadAsync: true, //默认异步上传
			}).on('fileuploaded', function(event, data, previewId, index) {
				count--;
				control.attr("fileName", data.response.data.fileName);
				control.attr("filePath", data.response.data.filePath);
				control.attr("fileAddr", data.response.data.fileAddr);
				if(count == 0) {
					formData();
				}
			}).on('filebatchuploadsuccess', function(event, data, previewId, index) { //同步上传回调
				count--;
				control.attr("fileName", data.response.data.fileName);
				control.attr("filePath", data.response.data.filePath);
				control.attr("fileAddr", data.response.data.fileAddr);
				if(count == 0) {
					formData();
				}
			});
		}
		
		$('#save-btn').on('click',function(){
			var picture = $('#picture').val().trim();
			if(picture != '') {
				count++;
				$('#picture').fileinput('upload');
			}else{
				formData();
			}
		})
	</script>

</html>