<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>用户管理</title>
		<link href="../css/semantic-ui/semantic.min.css" rel="stylesheet">
		<link href="../css/layer/layer.css" rel="stylesheet">
		<link href="../lib/editormd/css/editormd.min.css" rel="stylesheet" />
		<link href="../css/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="../css/index.css" rel="stylesheet" />
	</head>

	<body>
		<div id="head"></div>

		<div class="ui attached pointing menu">
			<div class="ui container">
				<div class="right menu">
					<a href="usermanager-list.html" class="teal active item">列表</a>
					<a href="regist.html?type=add" class="item">注册</a>
				</div>
			</div>
		</div>
		<div class="i-padded-tb-big i-container-small  fadeIn">
			<div class="ui container">
				<div class="ui table">
					<table id="userList"></table>
				</div>
			</div>
		</div>
	</body>
	<script src="../js/jquery/jquery1.11.3.js"></script>
	<script src="../js/semantic-ui/semantic.min.js"></script>
	<script src="../js/bootstrap/bootstrap.min.js"></script>
	<script src="../js/bootstrap-table/bootstrap-table.min.js"></script>
	<script src="../js/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
	<script src="../lib/editormd/editormd.min.js"></script>
	<script src="../js/all.js"></script>
	<script src="../js/function.js"></script>

	<script>
		$(function() {
			$('#head').load("../common/head.html");
			userTable();
		})

		function userTable() {
			$("#userList").bootstrapTable({
				url: '/view-server/Api/listUser',
				method: 'get',
				contentType: 'application/json',
				sidePagination: 'server',
				cache: false,
				sortOrder: 'desc',
				sortable: true,
				pageNumber: 1,
				paginationPreText: "上一页",
				paginationNextText: "下一页",
				rowStyle: function() {
					return {
						css: {
							"text-align": " center"
						}
					}

				},
				queryParams: function(params) {
					params.pageSize = this.pageSize;
					params.page = this.pageNumber;
					params.sort = 'create_time';
					params.order = params.order;
					return params;
				},
				onLoadSuccess: function(data) {},
				onLoadError: function(status) {},
				onPageChange: function(number, size) {},
				striped: true,
				pagination: true,
				pageSize: 10,
				pageList: [10, 20, 50],
				minimumCountColumns: 2,
				columns: [{
						title: "序号",
						align: "center",
						formatter: function(value, row, index) {
							return index + 1;
						}
					},
					{
						title: "用户名",
						align: "center",
						field: "name",
					},
					{
						title: "电话",
						align: "center",
						field: "phone",

					},
					{
						title: "邮箱",
						align: "center",
						field: "email",
						sortable: true,
					},
					{
						title: "性别",
						align: "center",
						field: "sex",
						formatter:function(value,row,index){
							if(value == '0'){
								return '男';
							}else if(value == '1'){
								return '女';
							}
						}
					},
					{
						title: "角色",
						align: "center",
						field: "role",
						formatter:function(value,row,index){
							if(value == 'admin'){
								return '管理员';
							}else if(value == 'user'){
								return '用户';
							}
						}
					},
					{
						title: "新增时间",
						align: "center",
						field: "create_time"
					},
					{
						title: "修改时间",
						align: "center",
						field: "update_time"
					},
					{
						title: "操作",
						align: "center",
						formatter: function(value, row, index) {
							var html = '<a href="regist.html?type=edit&id=' + row.id + '" class="ui mini teal basic button">编辑</a>' +
								'<a href="javascript:void(0);" onclick="delete_user(' + row.id + ')" class="ui mini red basic button">删除</a>';
							return html;
						}
					}
				],
			});
		}

		function delete_user(id) {
			delUserConfirm(id);
		}

		function delUserConfirm(id) {
			layer.open({
				offset: 'auto',
				content: '确认删除吗?',
				btn: ['确认', '关闭'],
				yes: function(index, layero) {
					$.ajax({
						type: "get",
						url: "/view-server/Api/delUser",
						data: {
							'id': id
						},
						async: true,
						success: function(res) {
							if(res.code == '0') {
								propSuccess(res, function() {
									window.location.reload();
								});
							} else {
								propFail(res, null);
							}
						}
					});
					layer.closeAll();
				},
				btn2: function(index, layero) {
					layer.close();
				},
				shade: 0,
			})
		}
	</script>

</html>